<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.christiankula.users">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".UsersApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_person_color_primary_24dp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".list.UsersListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".details.UserDetailsActivity"
            android:label="@string/user_details_label"
            android:parentActivityName=".list.UsersListActivity" />
    </application>

</manifest>